section.banner
	.container
		.banner_info
			h1.banner_title Test assignment for Frontend Developer position
			p.banner_text We kindly remind you that your test assignment should
				br
				. 
					be submitted as a link to github/bitbucket repository.
				br
				. 
					Please be patient, we consider and respond to every application that meets minimum requirements. We look forward to your submission. Good luck!
			input(type="button" value="Sign Up" ).b-batton 
