header
	.header
		.header-logo
			+icon("logo")
		nav.header-nav 
			ul.header-nav__list
				li
					a(href="#") About me
				li
					a(href="#") Relationships
				li
					a(href="#") Requirements
				li
					a(href="#") Users
				li
					a(href="#") Sign Up
		.user-logged
			.user-name Superstar
			.user-mail Superstar@gmail.com
		.user-icon
			+icon("cover-icon-user")
		.exit-icon
			+icon()


