.relationships
    h2.rel_header About my relationships with 
        br
        .
            web-development
    .rel_container
        .rel_block
            +icon("html")
            h3.rel_header_block I'm in love with HTML
            p.text_mid Hypertext Markup Language (HTML) is the standard markup language for creating web pages and web applications.
        .rel_block
            +icon("css")
            h3.rel_header_block CSS is my best friend
            p.text_mid Cascading Style Sheets (CSS) is a  style sheet 
                br
                . 
                    language used for describing the presentation
                br
                .
                    of a document written in a markup language
                br
                .
                    like HTML.
        .rel_block
            +icon("javascript")
            h3.rel_header_block JavaScript is my passion
            p.text_mid JavaScript is a high-level, interpreted programming language. It is a language which is also characterized as dynamic, weakly typed, prototype-based and multi-paradigm.