doctype html
html(lang="ru-Ru")
	head
		title Hello
		link(rel="stylesheet" type="text/css" href="static/css/main.css")
	body
		header
			.logo
				img(src="#")
			nav.menu
				.menu-item News
				.menu-item News
				.menu-item News
		script(src="static/js/libs.min.js")
		script(src="static/js/main.js")