.banner
	min-height: 740px
	background-image: url('../img/bg-1.jpg')
	background-repeat: no-repeat
	background-size: cover
	background-position: center 26%
.banner_info
	color: #fff
	// padding-right: $standPadding
	// padding-left: $standPadding
	position: absolute
	top: 195px
	width: 100%
	max-width: 575px
	
.banner_title
	margin-bottom: 20px
.banner_text
	margin-bottom: 33px	
.b-batton
	border: $primaryColor
	border-radius: 5px
	color: #fff
	padding: 8px 0
	display: block
	background-color: $primaryColor
	width: 290px
	font-family: $bold
	font-size: 20px
	text-align: center
	&:hover
		cursor: pointer
		background-color: lighten($primaryColor, 5%)
	&:disabled
		background-color: #d7d7d7		
		color: #939292
		cursor: default

