.header
	overflow: hidden
	display: flex
	flex-direction: row
.header-logo
	margin-right: 162px
	.icon-logo
		width: 133px
		height: 64px
.header-nav
.header-nav__list
	li
		display: inline-block
		margin: 21px 13px
		
	a 
		font-family: $regular
		font-size: 16px
		text-decoration: none
.user-logged
	margin: 14px 0 15px 160px
	font-family: $regular
	.user-name
		float: right
		font-size: 14px
	.user-mail
		padding-right: 3px
		font-size: 12px
		color: #a4a3a3